[Unit]
Description=IPRoyal Pawns CLI
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=HOME=/tmp
ExecStart=/usr/local/bin/pawns-cli \
    -email=${EMAIL} \
    -password=${PASSWORD} \
    -device-name=${DEVICE_NAME} \
    -device-id=${DEVICE_ID} \
    -accept-tos

EnvironmentFile=-/etc/default/pawns-cli

Restart=always
RestartSec=30

NoNewPrivileges=yes
ProtectSystem=strict
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
